.title{
    background-image: url(photo.jpg);
    min-height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.8;
}
h1{
text-align: center;
padding-top: 100px;
    font-size: 60px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
    position: sticky;
}
nav img{
    width: 80px;
}
.nav-links{
    flex: 1;
    text-align: right; 
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
nav .fa{
    display:none ;
}
.nav-links ul li a{
    color: blue;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
} 
.nav-links ul li a:hover{
    font-size: 20px;
    cursor: pointer;
}
@media(max-width: 600px){
    .heading h1 {
        font-size: 25px; 
    }
    .nav-links ul li{
        display: block;
        text-align: right ;
    }
    .nav-links{
        position: absolute;
        background-color: blueviolet;
        height: auto;
        width: 100px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: red;
        margin: 10px;
        cursor: pointer;
    }
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
}
.new{
    font-weight: 500;
    font-size: 36px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p{
    line-height: 20px;
    color: rgb(233, 215, 215)
    font-size: 15px;
    font-weight: 200;
    padding: 8px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 30%;
    background-color: rgb(225, 226, 183);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: content-box;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(226, 182, 182, 0.562);
    cursor: pointer;
}
@media(max-width:600px){
    .row{
        flex-direction: column;
    }
}
.photos{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 4px;
}
.photos:hover{
    width: 350px;
    height: 450px;
    border: 2px solid black;
    border-radius: 4px;
}
.item{
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.caption{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(max-width:600px){
    .photos{
        width: 300px;
        height: 400px;
        border: 2px solid black;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .photos:hover{
        width: 350px;
        height: 450px;
        border: 2px solid black;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
    }
    .item{
        vertical-align: top;
        display: inline-block;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .caption{
        display: block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        flex-direction: column;
    }
}
.footer{
    text-align: center;
    padding-top: 100px;
}
.icons{
    width: fit-content;
    margin: 0 auto;
    padding-top: 40px;
}
.fa{
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.fa:hover{
    color: red;
    cursor: pointer;
    font-size: 20px;
}
footer{
    background-color: rgb(216, 212, 207,0.3);
}
