*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(239, 247, 247);
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(wander-fleur-zXVbpkm-Vuc-unsplash.jpg);,linear-gradient(rgba(205, 230, 209, 0.2));
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.6;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
}
nav img{
    width: 60px;
}
.nav-links{
    flex: 1;
    text-align: right; 
    transition: 1s;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: blue;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}  
.nav-links ul li a:hover{
    font-size: 20px;
    cursor: pointer;
}
.heading{
    width: 90%;
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading h1 {
    font-size: 65px;
    color: rgb(62, 12, 163);
}
.heading p { 
    margin: 10px 0px 40px;
    font-size: 18px;
    
}
.button1{
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
    position: relative;
}
.button1:hover{
    border: 2px solid black;
    background-color: rgb(212, 137, 137);
    transition: 1s;
}
nav .fa{
    display:none ;
}
@media(max-width: 600px){
    .heading h1 {
        font-size: 25px; 
    }
    .nav-links ul li{
        display: block;
        text-align: right ;
    }
    .nav-links{
        position: absolute;
        background-color: blueviolet;
        height: auto;
        width: 100px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: red;
        margin: 10px;
        cursor: pointer;
    }
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-weight: 500;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p{
    line-height: 25px;
    color: rgb(233, 215, 215)
    font-size: 15px;
    font-weight: 200;
    padding: 12px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 30%;
    background-color: rgb(225, 226, 183);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: content-box;
}
h3{
    text-align: center;
    margin: 10px;
    font-weight: 600;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(226, 182, 182, 0.562);
    cursor: pointer;
}
@media(max-width:600px){
    .row{
        flex-direction: column;
    }
}
.h3{
    text-align: center;
    font-size: 40px;
}
.campus{
    background-image: url(photos/contact\ us.jpg);
    width: 80%;
    height: 200px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.button2{
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    color: red;
    border: 2px solid black;
    padding: 10px;
    font-size: 18px;
    position: relative;
}
.button2:hover{
    border: 2px solid black;
    background-color: rgb(212, 137, 137);
    transition: 1s;
}
.footer{
    text-align: center;
    padding-top: 100px;
}
.icons{
    width: fit-content;
    margin: 0 auto;
    padding-top: 40px;
}
.fa{
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.fa:hover{
    color: red;
    cursor: pointer;
    font-size: 20px;
}
footer{
    background-color: rgb(216, 212, 207,0.3);
}


